[submodule "third_party_packages/vllm"]
	path = third_party_packages/vllm
	url = https://github.com/vllm-project/vllm.git
[submodule "third_party_packages/LLaMA-Factory"]
	path = third_party_packages/LLaMA-Factory
	url = https://github.com/hiyouga/LLaMA-Factory.git
